auto-save-list
cvs
db
elpa
eshell
etc
etc2
font
imgs_xp
info
RCS
snippets
test
thumbs
tutorial
url
session.*
srecode-map.el
elpa*
latex-math-preview-cache
javadoc-cache
recentf
request
init-load.el.prev
.ignoresvn
ac-comphist.dat
bookmarks
